:root {
  --white : #fff;
  --light-gray: #bdbdbd;
  --thin-gray: #eee;
  --gray: #737373;
  --gray2: #616161;
  --blue-dark: #2b3c5b;
  --blue: #2595ff;
}

.audioContainer {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px auto 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
  gap: 18px;
  background: var(--blue-dark);
  width: 290px;
  padding: 15px 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 12px 25px -15px rgba(0, 0, 0, 0.25);
  z-index: 1;

  &:empty {
    display: none;
  }

  @media (min-width: 600px) {
    flex-direction: column;
    width: 340px;
  }

  @media (min-width: 1024px) {
    position: fixed;
    right: 26px;
    bottom: 10px;
    opacity: 0;
    margin: 0;
    animation-delay: 0.5s;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.7s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
  }

  .firstRow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    @media (min-width: 600px) {
      justify-content: space-evenly;
    }

    strong {
      color: var(--white);
      text-align: center;
      width: 100%;
      padding: 0 6px 10px;
      margin-bottom: 8px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
  }
  .secondRow {
    display: flex;
    flex-direction: column;
    width: 280px;
    gap: 8px;
    background-color: rgba(0, 0, 0, 0.027);
    border-radius: 5px;
    padding: 5px 10px;

    div {
      display: flex;
      justify-content: space-between;

      span {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        color: var(--white);
      }
    }
  }

  .btnAudioPlayer {
    width: 50px;
    height: 50px;
    margin: 4px 12px;
    padding: 9px;
    border-radius: 50%;
    border: none;
    background: var(--blue);
    color: #fff;
    font-size: 1.2rem;
  }

  .btnAudioStop {
    width: 70px;
    height: 30px;
    margin: 5px 5px 5px 20px;
    padding: 3px;
    border-radius: 5px;
    border: none;
    background: var(--gray);
    color: #fff;
    font-size: 13px;
  }

  .btnConfigs {
    padding-top: 4px;
    margin: 4px 12px;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    background-color: inherit;

    &:hover {
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.17);
    }
  }

  div {
    span {
      p {
        color: var(--white);
        font-size: 1rem;
        line-height: 1.3;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
      }
    }

    select {
      display: none;

      @media (min-width: 1080px) {
        display: block;
        margin-top: 10px;
        outline: 0;
        border: 1px solid #f8eeed;
        padding: 5px;
        border-radius: 4px;
        color: var(--blue);
      }
    }
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
